<%= flash[:message] %>

Submitted Info:

Name: <%= session[:user]['name'] %>
Dojo Location: <%= session[:user]['dojo_location'] %>
Favorite Language: <%= session[:user]['fav_lang'] %>
Comment: <%= session[:user]['comment'] %>

<a href="/">Back</a>