<div class="container">
  <nav class="navbar">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/<%=session[:user_id] %>"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
        <li><a href="sessions/<%= session[:user_id]%>" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
    <h1>Dojo Secrets</h1>
    <h4>What people really think...</h4>

  <!--   <% @secrets.each do |secret| %>
      <div class="well well-sm">
        <p> <%= secret.content %> </p>
        <p> <%= secret.likes.length %> </p>
        <% if @secrets_liked.include? secret.id %>
            <a href="/likes/<%= secret.id %>/destroy" data-method="delete">Unlike</a>
          <% else %>
            <a href="/likes/<%= secret.id %>" data-method="post">like</a>
        <% end %>
        <% if current_user == secret.user %>
          <a href="/secrets/<%= secret.id %>/destroy" data-method="delete">delete</a>
        <% end %>
      </div> 
    <% end %>
</div> -->

  <% @secrets.each do |secret| %>
    <div class="card">
      <div class="card-header">
        Posted at: <%=secret.created_at%>
        <% if current_user == secret.user %>
          <a href="/secrets/<%= secret.id %>/destroy" data-method="delete">delete</a>
        <% end %>      
      </div>
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p class="card-text text-left"> <%=secret.content%> </p>
          <footer>
            <p class="text-left"> <%= secret.likes.length %> Likes </p>
            <% if @secrets_liked.include? secret.id %>
                  <a class="text-right" href="/likes/<%= secret.id %>/destroy" data-method="delete">Unlike</a>
                <% else %>
                  <a class="text-right" href="/likes/<%= secret.id %>" data-method="post">like</a>
              <% end %>
          </footer>
        </blockquote>
      </div>
    </div>
  <% end %>
</div>
