<div class="container">
  <nav class="navbar">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/<%=session[:user_id] %>"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
        <li><a href="sessions/<%= session[:user_id]%>" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
    <h1>Dojo Secrets</h1>
    <h3>What people really think...</h3>
<!-- iterate through secrets -->
  <% @secrets.each do |secret| %>
    <div class="well">
      <div class="well-header">
        <h4>Posted at: <%=secret.created_at%></h4>
        <% if current_user == secret.user %>
          <a href="/secrets/<%= secret.id %>/destroy" data-method="delete">Delete Secret</a>
        <% end %>      
      </div class="secret_content">
        <p class="text-left"> <%=secret.content%> </p>
        <footer>
          <p class="text-left col-md-6"> <%= secret.likes.length %> Likes </p>
          <% if @secrets_liked.include? secret.id %>
                <a class="secret_a col-md-6" href="/likes/<%= secret.id %>/destroy" data-method="delete">Unlike</a>
              <% else %>
                <a class="secret_a col-md-6" href="/likes/<%= secret.id %>" data-method="post">Like</a>
            <% end %>
        </footer>
    </div>
  <% end %>
</div>
