<h1>Secrets</h1>
<!-- <a href="sessions/<%= session[:user_id]%>">Logout</a> -->
<a href="/users/<%=session[:user_id] %>">my profile</a>

<% @secrets.each do |secret| %>
  <p> <%= secret.content %> </p>
  <p> <%= secret.likes.length %> </p>
  <% if @secrets_liked.include? secret.id %>
  		<a href="/likes/<%= secret.id %>/destroy" data-method="delete">Unlike</a>
  	<% else %>
  		<a href="/likes/<%= secret.id %>" data-method="post">like</a>
  <% end %>
  <% if current_user == secret.user %>
    <a href="/secrets/<%= secret.id %>/destroy" data-method="delete">delete</a>
  <% end %>
  <hr>
<% end %>

